@using _67RoleBaseSecurity.Models
@using _67RoleBaseSecurity.DataModel
@model IEnumerable<UserModel>


@{
    ViewBag.Title = "Index";
    int i = 1;

}
<div id="modalWrapper">
    @* Inject form here *@

</div>

<!-- Trigger the modal with a button -->
<div class="row" style="display:flex; vertical-align:central;">
    <div class="col-sm-6 text-left">
        <h2>User</h2>
    </div>
    <div class="col-sm-6 text-right" style="align-self:center">
        <button type="button" class="btn btn-success btn-default" onclick="createUser()"><span class="glyphicon glyphicon-plus"></span> Add User</button>
    </div>
</div>
<hr />


<!--Table-->
<table class="table table-bordered table-striped table-responsive">
    <tr>
        <th>#</th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            Full Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HiringDate)
        </th>
        <th>
            Roles
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUploadDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @(item.FirstName+" "+item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiringDate)
            </td>
            <td>
                @foreach (string ur in item.RoleName)
                {
                    @Html.DisplayFor(d => ur);<br />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastLoginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUploadDate)
            </td>
            <td>
                @if (item.IsActive == true)
                {
                    <button type="button" class="btn btn-sm btn-success" disabled>Active</button>
                }
                else
                {
                    <button type="button" class="btn btn-sm btn-warning" disabled>Inactive</button>
                }
            </td>
            <td>
                <a href="#" onclick="editUser('@item.UserId')">Edit</a>
            </td>
        </tr>
    }
</table>
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script>
        function editUser(UserId) {
            $.ajax({
                url: '@Url.Action("Edit","Account")',
                data: {"id":UserId},
                success: function (data,status, req) {
                    $('#modalWrapper').html(data);
                    $('#createModal').modal('show');
                }
            });
        }
        function createUser() {
            $.ajax({
                url: '@Url.Action("Create","Account")',
                success: function (data,status, req) {
                    $('#modalWrapper').html(data);
                    $('#createModal').modal('show');
                }
            });
        }
        function success() {
            /*alert("Success!");*/
            $('#createModal').modal('toggle');
            location.reload();
        }

        function failure() {
            alert("Failure");
        }
        /*$.validator.unobtrusive.parse("#form0");*/
        //date picker

    </script>
}